@mixin horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@mixin vertical-center {
    position: absolute;
    top: 50%;
    // transform: translateY(50%);
}

@mixin xy-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin debug {
    background-color: red;
    color: black;
}